html {
    background-color: #373737;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    color: #f4f4f4;
}

.row {
    display: flex;
    justify-content: center;
}

.cell {
    width: 50px;
    height: 50px;
    border: solid;
    border-color: #373737;
    background-color: #f4f4f4;
    border-radius: 10px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.retry {
    background-color: #f4f4f4;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}